*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg

.github
/sdk/schemas/com.noctuagames.labs.sdk.data.database.NoctuaDatabase/2.json

# Claude Code
.claude/
.mcp.json

# Firebase
firebase-debug.log
